$main-color: #4671FF;
$main-gray: #717171;
//$team-mark-back-color:  #FAD9D9;
//$team-mark-font-color:  #DD4A48;
$team-mark-back-color:  #EF2121;
//$single-mark-back-color: #D9E6FA;
$modal-font-color: #555555;
$font-size: 18px;